[2019-05-15 08:34] zzy96 opened #1 "Truffle Migration Not Working..."
I am not sure if this is a truffle5 problem or something else. `truffle migrate` cannot successfully deploy ZSC even after I deployed contracts step-by-step with asynchronous call.

@benediamond I have put my changes in [branch](https://github.com/QuorumEngineering/anonymous-zether/tree/truffle-migrate). Please help test it out.

[2019-05-15 08:42] zzy96 opened #2 "Move zether-wallet Components into an NPM Package"
To make the design modular and better for future use. The component connecting node and java proof generation server in the zether-wallet should be easily reused. A good way would be packing it into NPM package. anonymous-zether would be only focused on an out-of-box tracker.js

[2019-05-16 13:07] #2 closed, assigned to nobody

[2019-05-28 14:11] zzy96 commented on #1
This is outdated

[2019-05-28 14:11] #1 closed

[2019-06-04 21:12] 1blockologist opened #3 "Use in Conjunction with EY Nightfall"
Hello, this release is great for anonymous Ether transactions but does not encrypt token transfers or - more abstractly - smart contract execution. EY Nightfall encrypts token transfers to a degree, but does not encrypt Ether transactions.

EY Nightfall can encrypt Ether transactions by merely creating wrapped Ether, WETH and using it as an ERC20 token.

This would still be a hurdle as these addit

[2019-06-04 22:07] benediamond commented on #3
hey @1blockologist, thanks for your comment. As written, Anonymous Zether is designed to privately transfer ERC20 tokens. It could also adapted to privately transfer Ether, either through the "wrapped Ether approach" you mention or by modifying the contract directly. We do not currently support transferring non-fungible (ERC721) tokens.

Nightfall appears to support both ERC20 and ERC721 transfers

[2019-06-04 22:07] #3 closed

[2019-06-10 05:37] d-haxton opened #4 "Missing license"
Please add a license to this project.

It seems other projects in this organization use the `GNU Lesser General Public License v3.0`. Consider using that.

[2019-06-10 13:05] benediamond commented on #4
Will look into this asap, thanks...

[2019-06-10 13:34] benediamond commented on #4
It looks like we'll use Apache on this. I'll update the repo soon

[2019-06-10 14:57] benediamond commented on #4
closed by https://github.com/jpmorganchase/anonymous-zether/commit/3aca4cbfea2038394aa9e58d80a9e4e2f4a95aa3

[2019-06-10 14:57] #4 closed

[2019-06-24 14:01] jakeonchain opened #6 "Can I deploy the contracts to Ethereum e.g. Ropsten?"
I am able to deploy the [Utils.sol](https://github.com/jpmorganchase/anonymous-zether/blob/master/packages/protocol/contracts/Utils.sol) but can't deploy https://github.com/jpmorganchase/anonymous-zether/blob/master/packages/protocol/contracts/ZetherVerifier.sol and getting `{"code":-32000,"message":"exceeds block gas limit"}` even I put 30 ethers as the gas fee. Any idea? Thanks

[2019-06-24 17:20] benediamond commented on #6
hey @jakeonchain, thanks for reaching out.

I'm guessing that ZetherVerifier deployment cost alone is exceeding the block gas limit in Ropsten, which [appears to be](https://ethereum.stackexchange.com/questions/44038/is-there-a-reason-ropsten-doesnt-have-the-same-block-gas-limit-as-mainnet) around 4.7 million. I'm not sure, it could even exceed the block gas limit on the mainnet (around 8 million)

[2019-06-25 00:02] jakeonchain commented on #6
@benediamond thanks, we will try and see

[2019-06-25 14:25] #6 closed

[2019-06-25 21:08] benediamond opened #8 ""Couldn't write on the socket" with anonset sizes >= 32"
Encountering a new bug here when trying to transfer with larger anonsets:

[code]
Not only is this not good, but it also wreaks havoc on the callback / balance adjustment process, and causes the node process to hang.

It would appear that this is an upstream bug in `web3`, so I'm going to hold off for a bit and try to see what's going on. Hopefully no changes on our end will be necessary.

[2019-06-26 01:46] benediamond commented on #8
looks like there might be an upstream issue logged for this, so let's see: https://github.com/ethereum/web3.js/issues/2908

[2019-08-09 21:29] panghalamit opened #10 "update of CLn and CRn values during transfer"
https://github.com/jpmorganchase/anonymous-zether/blob/009f19b909a6f80387ae9c1c83112fc61341daa7/packages/anonymous.js/src/client.js#L254-L255

should be updated to

[code]

[2019-08-09 21:38] panghalamit commented on #10
My bad, CL and CR each would be bytes32[2].  So closing this.

[2019-08-09 21:38] #10 closed

[2019-09-26 04:27] naddison36 opened #11 "EIP-1108 support"
Is there a version of the contracts that uses `ECADD` and `ECMUL` implemented in EIP-1108?

[2019-09-26 14:17] benediamond commented on #11
as I understand this EIP, it will merely change the gas accounting of the EVM---the contracts won't change. thus we either need to wait until this EIP gets merged, or you can go into the `geth` params and change the precompile gas costs yourself. does this sound right?

[2019-09-26 18:19] #11 closed

[2019-10-02 14:03] naddison36 opened #12 "Transfer failing with reason Recovery failure for B^x * A."
I've trying the example against a local Geth node but the transfer from Alice to Bob keeps failing in `ZetherVerifier` with reason `Recovery failure for B^x * A.`

Any ideas on what I'm doing wrong?

I can move what I'm doing into a public repo if it helps, but I'm essentially following the example of Alice depositing into the Anonymous Zether contract and then transferring to Bob.

[2019-10-02 15:16] panghalamit commented on #12
As this is the 1st revert check in verification function, it could fail if you are pass wrong params during proof generation. Most likely cause of this would be different epochs during proof generation and verification AFAIK. I have encountered this many times while testing and Most of it was due to mismatch in epochs.

[2019-10-03 00:05] naddison36 commented on #12
Thanks for your help @panghalamit

My proofs are taking over 400 seconds to create on my laptop so when I use and epoch of 6 second, the verification fails.
It's taking over 60 seconds just to process this line in the Zether proof generator
https://github.com/jpmorganchase/anonymous-zether/blob/master/packages/anonymous.js/src/prover/zether/zether.js#L63

My laptop is a MacBook Pro with a 2.7 GHz

[2019-10-03 00:19] naddison36 commented on #12
Setting my epoch to 500 worked. I can now send a shielded transfer.

[2019-10-03 04:21] naddison36 commented on #11
@benediamond you are correct. No contract changes are required. Here's the gas costs before and after the Istanbul fork is applied to my local Geth

  | Before | After
-- | -- | --
Deposit | 263,580 | 199,142
Transfer | 16,839,076 | 5,104,954
Withdrawal | 7,928,163 | 2,386,977

[2019-10-03 13:22] benediamond commented on #11
Cool, thanks for doing this experiment. You can see how much better things are after the EIP.

Also, you can try this for larger anonsets, and see what kind of improvements you get from those...!

[2019-10-03 14:11] benediamond commented on #12
Good Lord, seriously? for which anonset size? This is way, way too much—shouldn't be this long. Let's figure out what's going on.

[2019-10-03 14:14] benediamond commented on #12
@naddison36

you're running this in NodeJS, yes? which version...? which calls exactly are you making to anonymous-zether, i.e. how are you invoking it? can you also report your `bn.js` and `elliptic.js` versions? thanks.

[2019-10-03 21:43] benediamond commented on #12
also, importantly—try running this on your host box, not on a guest virtual machine.

[2019-10-03 22:34] naddison36 commented on #12
I was running node v10.15.2. Dependency versions are:
- bn.js@4.11.8
- elliptic@6.5.1

It takes my MacBook pro around 60 seconds to run this line in zether.js `proof.s = params.commit(sL, sR, rho);`
https://github.com/jpmorganchase/anonymous-zether/blob/master/packages/anonymous.js/src/prover/zether/zether.js#L63

It takes about 30 seconds each to run the following two for loops in the `commit`. T

[2019-10-03 23:06] benediamond commented on #12
this is bonkers. are you on running on an honest, i.e. host machine?

could you try some experiments—e.g., navigate to `anonymous.js/src`, open up a node console, and run:

[code]
for me, the last command takes just around 300 ms.

[2019-10-04 02:28] naddison36 commented on #12
The last command in the above take just under 400 ms on my machine. That's a big improvement on a minute!

I was running the transfer in a Jest test on WebStorm. I'll experiment to see if that makes any difference.

[2019-10-04 02:37] naddison36 commented on #12
The good news is I can replicate the problem. If I run the below Jest test written in TypeScript on WebStorm the last line takes 56 seconds
[code]

Now to narrow in on what's causing the problem

[2019-10-04 03:14] naddison36 commented on #12
The problem is Jest. The exact same JS code in a Jest test takes 60 seconds compared to 396 ms outside Jest.
I'm using Jest 24.9.0
I'll play around with the Jest settings. If no luck I'll raise a Jest issue as this is crazy.
This is definitely not an Anonymous Zether issue so I'll close this issue.

[2019-10-04 03:14] #12 closed

[2019-10-04 04:32] naddison36 commented on #12
I've raised a Jest issue https://github.com/facebook/jest/issues/9006

[2019-10-04 11:18] naddison36 commented on #12
Just to close this off for anyone else looking at this, adding the following Jest config gave me a 100x speed improvement when running the transfer proof in Jest. It now only takes 4 seconds compared to 400 seconds without this Jest config
[code]

[2019-10-04 12:48] benediamond commented on #12
@naddison36 wow. Big thanks for doing this digging, and glad we've gotten everything worked out!

[2019-10-08 08:59] naddison36 commented on #11
How do I try with a larger anonsets? Is that just with more decoys?

[2019-10-08 12:00] benediamond commented on #11
Yes. You can see in example in the later part of the readme. e.g., for anonset size 4 you need 2 decoys; for 8 you need 6; for 16 you need 14... etc.

[2019-10-09 02:42] naddison36 commented on #11
Here's the gas usage of transfers for different anonsets before and after the Istanbul fork

Decoys | Anonymity set | Saving | Before | After
-- | -- | -- | -- | --
0 | 2 | 70% | 16,839,076 | 5,125,962
2 | 4 | 70% | 19,544,408 | 5,767,062
6 | 8 | 69% | 27,474,470 | 8,433,752
14 | 16 | 70% | 44,573,980 | 13,565,718
30 | 32 | 70% | 83,156,690 | 24,905,448

This was tested against Geth using the foll

[2019-10-09 02:47] benediamond commented on #11
excellent @naddison36, big thanks for doing this.

I think the major open question is whether anonset size 8 will fit under the block gas limit. I would be willing to make a push to optimize this the hell out of this thing, to make sure it does before Istanbul hits.

[2019-10-09 03:16] naddison36 commented on #11
Mainnet block limit is now just under 10m so in theory an anonset size of 8 will fit under the mainnet block limit. It'd cost around 1.50 USD at today's prices.
Further optimisation would be good. I guess the best way to do that is to use more precompiled contracts but I have no idea if that's possible.

[2019-10-09 03:35] benediamond commented on #11
Good to know, I hadn't realized the mainnet gas limit climbed a bit.

I think the main possibility to optimize this further is to replace the [standard FFT algorithm](https://en.m.wikipedia.org/wiki/Cooley%E2%80%93Tukey_FFT_algorithm#The_radix-2_DIT_case) with [a variant](https://en.m.wikipedia.org/wiki/Cooley%E2%80%93Tukey_FFT_algorithm#Data_reordering,_bit_reversal,_and_in-place_algorithms) whic

[2019-11-26 06:57] DoubleCherish opened #13 "Node error: {"code":-32000,"message":"unknown account"}"
occur some errors
[root@localhost anonymous-zether]# node packages/example/
Error: Node error: {"code":-32000,"message":"unknown account"}
    at Function.validate (/home/hook/zether/anonymous-zether/node_modules/web3-providers/dist/web3-providers.cjs.js:117:18)
    at HttpProvider._callee$ (/home/hook/zether/anonymous-zether/node_modules/web3-providers/dist/web3-providers.cjs.js:792:61)
    at tr

[2019-11-26 08:02] #13 closed

[2019-11-27 07:50] DoubleCherish opened #14 "Threre are any group like facebook or telegram to ask questions?"
rt

[2019-11-27 14:52] benediamond commented on #14
Thanks for raising. Are you able to access Quorum slack? You can use the #general or #technical-support channels.

[2019-11-27 15:01] benediamond commented on #8
turns out this is a _geth_ issue: https://github.com/ethereum/go-ethereum/issues/16846, fixed in https://github.com/ethereum/go-ethereum/pull/19866. Thus I think we need to wait till Quorum rebases on geth 1.9.

[2019-11-27 16:45] #14 closed

[2019-11-29 02:59] benediamond commented on #14
@DoubleCherish you can ping me on slack (@benediamond) to make sure I see it

[2019-12-03 11:47] DoubleCherish opened #15 "One question about anonymous transfers"
Why all the transfer amounts have to be kept pending ?

describe from zether.pdf appendix D.1 Replay and double-spend protection

[2019-12-03 15:01] benediamond commented on #15
this is essentially explained in the Zether paper, D.1., as you point out.

the essential idea is that when i send you a transfer, I change both my account state and yours. thus your account state could change unpredictably. but if _you_ want to make a transfer, your account should be stable throughout the duration of the epoch (if it changed unpredictably, your transfer would fail). Thus all tran

[2019-12-03 15:01] #15 closed

[2019-12-04 02:26] DoubleCherish commented on #15
@benediamond It seems i have no Slack's email address

[2019-12-14 14:53] canaber917 opened #16 "ERROR running example.js - failing fund/transfer - not enough funds."
Amazing work, but it looks it fails on my computer.

I installed geth, ganache and truffle. I installed the repository with all its node_modules by running npm install. When I hit `node packages/example`, it looks that the transfer function doesn't work, while the withdraw functions works.

Here is my output

[code]

The error I get.
[code]

The withdraw(100) works, I can even call multiple withdr

[2019-12-14 17:50] benediamond commented on #16
This is unusual—looks like a web3 error, as opposed to an error thrown by anonymous zether. Are you on quorum? Also, could you try `yarn` instead of `npm install`?

[2019-12-15 10:40] canaber917 commented on #16
Is it necessary to install Quorum and run this repository on a Quorum 7 nodes or can I make it happen on Ethereum test net ?

In my tests above, I have a test net run on a personal ethereum private net with geth and Ganache hardfork Petersburg.

VERSION of Geth:
   1.7.3-stable-4bb3c89d

I have reinstalled the repository from scratch with npm install, and it will lead to the same error. I will try

[2019-12-15 14:46] benediamond commented on #16
I see. Then the issue probably has to do either (a) not owning enough funds to cover the gas costs or (b) exceeding the block gas limit. Please check both of these? Note also that if you're _not_ running Istanbul, gas costs are huge—around 20 million for a transfer. So keep this in mind. The best way would be to simply run this on Istanbul, but it sounds like that may not be possible yet

[2019-12-15 15:24] canaber917 commented on #16
@benediamond thank you so much for your time reviewing this issue.

 I have double checked it. I have set to all accounts Ganache to `1000000000` and Gas limit for Blocks `6721975000000000`. So, definitely there is no problem with the gas.

[2019-12-15 15:46] benediamond commented on #16
no problem, thanks for your time as well.

I think I've figured out the issue. when anonymous zether makes transfers, it generates a _local_ throwaway and signs the transaction externally. this is to protect your privacy. Indeed, see:
https://github.com/jpmorganchase/anonymous-zether/blob/411c692192d0c0d477a2019e153d08a8df3ad82e/packages/anonymous.js/src/client.js#L259-L262
the problem is that thi

[2019-12-15 16:34] canaber917 commented on #16
EXCELLENT!!! Thanks! It works now! Thank you again!

[2019-12-15 16:34] #16 closed

[2019-12-15 16:46] benediamond commented on #16
great! enjoy and feel free to ping with any future questions / issues.

[2019-12-15 17:26] canaber917 opened #17 "potential bug in ZSC contract simulateAccounts(y, epoch)"
I was debugging the code and I have spotted something odd at this line.

https://github.com/jpmorganchase/anonymous-zether/blob/411c692192d0c0d477a2019e153d08a8df3ad82e/packages/protocol/contracts/ZSC.sol#L49
https://github.com/jpmorganchase/anonymous-zether/blob/411c692192d0c0d477a2019e153d08a8df3ad82e/packages/protocol/contracts/ZSC.sol#L50
Namely, I was simulating the code in Remix, and I notic

[2019-12-15 19:12] benediamond commented on #17
thanks for raising, this is a subtle point.

the reason is that `accounts` is a _dynamic_ array, (see line 38, `accounts = new bytes32[2][2][](size);`). If you look at [how Solidity represents dynamic arrays in memory](https://solidity.readthedocs.io/en/v0.5.10/miscellaneous.html#mappings-and-dynamic-arrays), you'll see that it reserves the 0th memory slot for the actual size of the array, whereas

[2019-12-15 19:43] canaber917 commented on #17
Thanks again. So

I want to mention again, I used the Remix Javascript debugger to check my statement above.

In order to close the comment, i have three more questions.

1) does the code

[code]
compute in fact
[code]

2) Does the code also stores the result of the sums (p1 and p2) in the scratch ?
From my debugger, it doesn't store the points p1 and p2 overwriting scratch or any other variable.

[2019-12-15 21:23] benediamond commented on #17
here is a pseudocode analogue of the code you mentioned:
[code]

This is not correct. Indeed, the `staticcall` does have a side effect:
[code]
adds the points stored in `m` and `add(m, 0x40)` (namely `pTransfers[yHash][0]` and `accounts[i][0]`, respectively) and _writes_ / stores the outcome into the first `bytes32[2]` array of `accounts[i]`. Similarly for line 55, but into the second. Therefore,

[2019-12-15 21:27] canaber917 commented on #17
Perfect explanation! Thank you so much again! I will close the issue as there is no issue, only with my debugger! Thanks again!!!

[2019-12-15 21:27] #17 closed

[2019-12-15 21:37] benediamond commented on #17
No problem! happy to help.

[2019-12-17 13:09] DoubleCherish opened #19 "Question about your code"
How to understand code logic, there are too few comments

[2019-12-18 14:40] ibudisteanu opened #20 "Improvement using Binary Search in Utils.readBalance ?"
First of all, awesome work !!

Utils.readBalance is a loop from 0 to MAX_NUMBER in order to find the number that verifies the elliptic curve equation `accumulator.eq(gB)`. Can a binary search be implemented to reduce the time complexity from O(N) down to O( log2 MAX_NUMBER), where is N encoded balance? Instead of using BN with Red, we can calculate the numbers with plain BN. Later we can use binar

[2019-12-18 15:48] benediamond commented on #20
Unfortunately, it's not. Binary search only works when you can evaluate a "comparison" function (i.e., less than or greater than). Yet for the discrete log `x` in a group exponentiation `g^x`, it's impossible to determine whether the candidate `x` is above or below the target value. Actually, if it _were_ possible, then discrete log could be solved in polynomial time.

In any case, this `readBalan

[2019-12-18 15:49] benediamond commented on #19
Hi @DoubleCherish, thanks for reaching out. Unfortunately, this question is too vague to address here. Slack would be a better place; if you are unable to access slack, you can email me at benediamond@gmail.com. Thank you.

[2019-12-18 15:49] #19 closed

[2019-12-18 16:00] ibudisteanu commented on #20
Noted. Thanks for the clarification.

[2019-12-18 16:00] #20 closed

[2019-12-27 02:38] ibudisteanu opened #21 "Optimizing the contracts creation by using pre-computed data for gs and hs"
I see that the deployment of the contracts is very expensive in gas. It is soo expensive that it is not even possible on the Ropsten test net without changing the gas limit for the block.

One optimization I am thinking about is to pre-compute constructors' data and store in as const memory in the Ethereum contracts once. Both contracts Burner and Verifier use the same computed data, so importing

[2019-12-27 12:08] ibudisteanu commented on #21
Here are the gs and hs generated from my repository.

[code]

[2019-12-27 22:35] benediamond commented on #21
You raise a very valid point. There are many tricky aspects to this—for one, Solidity doesn't support constants of array type (as far as I can see). Beyond this, there are a number of refactors to be done. I'm working up a candidate now—I'll follow up with what I've got in a day or so.

[2019-12-27 22:42] ibudisteanu commented on #21
Thanks for the input! You are right that they don't accept v[0] = [0x01, 0x02], but you can make it happen this way v[0][0] = 0x01 v[0][1] = 0x02.

So you can define the data

[2019-12-27 23:23] benediamond commented on #21
but what does your declaration look like? using `G1Point[64] constant gs;` gives the compiler error `TypeError: Constants of non-value type not yet implemented.`

[2019-12-27 23:26] ibudisteanu commented on #21
Can't it e changed to `bytes32[2][2]`

This declaration works and I used it to debug your solidity smart cotnracts

[code]

[2019-12-27 23:27] benediamond commented on #21
Good point. let me give this a try! give me a day or so.

[2019-12-27 23:28] benediamond commented on #21
well wait a second: sorry. isn't the whole point that it should be a `constant`? otherwise you don't save any `sload`s during regular operation. maybe deployment is cheaper?

[2019-12-27 23:28] ibudisteanu commented on #21
Take your time, as we don't use the solidity contracts. We use the JS translation of the smart contracts.

[2019-12-27 23:36] benediamond commented on #21
sure, but I think the main gas cost during deployment comes from adding to storage—and not from computation. i can check this.

[2019-12-28 21:53] benediamond commented on #8
Appears to have resolved as of the latest versions of web3, etc. Closing for now.

[2019-12-28 21:53] #8 closed

[2019-12-28 21:57] benediamond commented on #21
@ibudisteanu I've given this a shot at https://github.com/jpmorganchase/anonymous-zether/commit/ac4624e58e93c9bfaae856179777ec9468dd7a9c. all deployments can now be carried out well under the block gas limits. thanks for suggesting! please take a look at that commit and let me know if we can close.

[2019-12-29 06:34] ibudisteanu commented on #21
Awesome job! It looks hacky, but it does the job!

[2019-12-29 06:34] #21 closed

[2020-01-10 03:09] sonicskye opened #22 "Error: Cannot find module 'BN.js'"
Hi,

When I execute `node packages/example`, I have this error:

internal/modules/cjs/loader.js:800
    throw err;
    ^
Error: Cannot find module 'BN.js'

I ran 7nodes through docker, modified the settings as required, and install prerequisites. Yarn runs fine
yarn install v1.21.1
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...

[2020-01-10 07:51] ibudisteanu commented on #22
Replace `BN.js` with `bn.js` and it should work

[2020-01-10 08:34] ibudisteanu commented on #22
I also did this pull request https://github.com/jpmorganchase/anonymous-zether/pull/23

[2020-01-10 14:29] benediamond commented on #22
thanks @sonicskye for raising and @ibudisteanu pointing out the issue. i am working on a few things, and will include this in the next commit—please stay tuned.

[2020-01-10 15:03] benediamond commented on #22
merged #23, should work now. thanks @ibudisteanu

[2020-01-10 15:03] #22 closed

[2020-01-10 15:03] ibudisteanu commented on #22
@benediamond awesome work! We thank you for the great work on this repository and research!

[2020-01-10 15:38] benediamond commented on #6
@jakeonchain as a belated update to this, as of 0c5b14ff1aed5e3ce5fb0b21fec85a5672301fb7 it should now be possible to deploy this on testnets, I believe. also, if the testnet implements Istanbul, then transfers will also be possible. you can give it a shot if you'd like.

[2020-01-10 15:52] benediamond commented on #22
no problem!

[2020-01-12 23:26] sonicskye opened #24 "Example error?"
Hi @benediamond,

First of all, thank you for your hard work.

I found an error whenever I executed `node packages/example`

_Event {
  type: 'error',
  isTrusted: false,
  _yaeti: true,
  target: W3CWebSocket {
    _listeners: {},
    addEventListener: [Function: _addEventListener],
    removeEventListener: [Function: _removeEventListener],
    dispatchEvent: [Function: _dispatchEvent],
    _url:

[2020-01-12 23:29] ibudisteanu commented on #24
Be sure you have a running ethereum-node running like go-ethereum geth or even simpler you can install [ganache](https://www.trufflesuite.com/ganache). You can check if your go-ethereum node runs by checking with curl.

A suggestion is to try with a simple go-ethereum/ganache instance then try to check and debug your custom built script.

[2020-01-12 23:44] benediamond commented on #24
This happens when your node isn't listening at the correct websocket port. Did you misspell `$baseWsPort` at [line 117 of](https://gist.github.com/sonicskye/50d960828505f57ead69d568d6049ea2#file-istanbul-start-sh-L117) your `istanbul-start.sh` script?

[2020-01-12 23:54] sonicskye commented on #24
Ah, thanks for spotting the typo. However, after fixing it, the problem is still there. I ran quorum using docker.
It works in ganache as suggested by @ibudisteanu.

[2020-01-12 23:59] benediamond commented on #24
If you're running `geth` in docker but anonymous zether out of docker (and have forwarded the port?), you may need to add the flag `--wsaddr 0.0.0.0`—let me know if that works.

[2020-01-13 00:18] ibudisteanu commented on #24
@sonicskye try to use the ganache for experimenting unless you want to deploy it your own testnet/fork project or quorum

[2020-01-14 14:35] benediamond commented on #24
did you give this a try @sonicskye? if i don't hear from you i'll go ahead and close.

[2020-01-14 17:52] #24 closed

[2020-03-04 10:08] mt2Qx3R commented on #24
I also encounter this problem. I run locally rather than use docker. How do solve it?

[2020-03-05 03:24] sonicskye commented on #24
I used ganache.

[2020-03-05 03:31] mt2Qx3R commented on #24
Should I modify the  istanbul-start.sh too?

[2020-03-05 03:53] sonicskye commented on #24
I ran the example on Ganache, so I did not use anything on Quorum.

[2020-03-05 11:14] ibudisteanu commented on #24
@mt2Qx3R just run ganache and don't change almost anything from the original code. Maybe just the port and ip address in the node.js source code to connect to your virtual ganache ethereum node

[2020-03-05 13:43] mt2Qx3R commented on #24
I turn to use ganache. But when I node packages/example/, it turns out that
Error: Returned error: Exceeds block gas limit
    at Object.ErrorResponse (/home/v/anonymous-zether/node_modules/web3-core-helpers/src/errors.js:29:16)
    at /home/v/anonymous-zether/node_modules/web3-core-requestmanager/src/index.js:140:36
    at XMLHttpRequest.request.onreadystatechange (/home/v/anonymous-zether/node_m

[2020-03-05 13:45] ibudisteanu commented on #24
@mt2Qx3R this is a normal error. The smart contract is heavy in computation. You need to increase the gas limit in the block and restart ganache.

[2020-03-05 14:32] mt2Qx3R commented on #24
Thanks. Although it works well firstly, it followed by a weird bug:
Cash token contact mined (address = "0x6B4821226b0D756758cc6A3715Cd6cAEf41eaD32").
Inner product verifier mined (address = "0x3F2b3e702657F33910Da4D05a43DFae424cA6baC").
Zether verifier mined (address = "0x5AefDceBe96BC5C1b1d180eCe77b64b99BD61D7C").
Burn verifier mined (address = "0xA323Fc58ac63803012cca93c4C821e90D36531cB").
ZSC

[2020-03-05 16:14] fixanoid commented on #24
@mt2Qx3R please open a new ticket so we could properly follow up. Thanks.

[2020-03-05 20:54] benediamond commented on #24
@mt2Qx3R Anonymous Zether generates a _random_ Ethereum account to send your transfer from, and externally signs the transaction, in order to protect your privacy.
https://github.com/jpmorganchase/anonymous-zether/blob/7f95572308695c7d5fd32e886ba150522d9116a0/packages/anonymous.js/src/client.js#L273-L276
 in Quorum, gas is free. if you don't use Quorum, it will gripe that you don't have the funds

[2020-03-06 14:35] mt2Qx3R commented on #24
Thanks. I try to replace the private key of throwaway with that of the account in ganache, because the account in ganache has 100 ETH.  But it turns out that

Inner product verifier mined (address = "0xb8b43BCB62f3dfb973E6e2Fd02E477C3A32Cd0Db").
Cash token contact mined (address = "0x8812d8aB964D7450e2745579C3Fd0DDe29d95dCF").
Zether verifier mined (address = "0xBceB5bd4Ffb12fcFf23109509aD4650C570

[2020-03-07 04:33] benediamond commented on #24
@mt2Qx3R notice how `nonce` is also being passed manually as 0, in line 275. If you want to send from an account which you're also using elsewhere, you'll need to adjust the passed nonce value (or determine it dynamically).

[2020-03-07 04:39] benediamond commented on #24
Another option would be to add and pre-fund a separate account, which you use only in the transfer transaction. Then this will work—at least the first time around.

This is why, personally, I think the easiest solution is to run it locally on Quorum. Can you check your geth flags, and make sure websockets are turned on? Instructions are given in the readme.

[2020-03-23 10:00] mt2Qx3R opened #26 "TypeError: Class constructor Client cannot be invoked without 'new'"
Hi,
when I finished 'truffle migrate' and entered the console, I tried to require the client.js but it turned out this error:

truffle(ganache)> exec ./client.js
Using network 'ganache'.

TypeError: Class constructor Client cannot be invoked without 'new'
    at Object.exec (/usr/lib/node_modules/truffle/build/webpack:/packages/require/require.js:124:1)
    at Environment.detect.then (/usr/lib/nod

[2020-03-23 19:05] benediamond commented on #26
`client.js` isn't meant to be executed as a plain executable. maybe try executing `packages/example/index.js` instead?

i am not very familiar with ganache, so it is hard for me to advise on this.

[2020-03-24 09:46] kpv9 opened #27 "Error while executing transfer"
I am trying to execute packages/example but it is failing while transferring the tokens from alice to bob.
The error is transaction reverted. What am i supposed to do?

[2020-03-24 09:47] ibudisteanu commented on #27
Are you sure you have an updated ethereum node? I recommend you to install ganache

[2020-03-24 11:39] kpv9 commented on #27
yes the ethereum node is updated. I am unable to try it on ganache as i dont know how to enable websocket in ganache-cli.

[2020-03-24 11:39] kpv9 commented on #27
yes the ethereum node is updated. I am unable to try it on ganache as i dont know how to enable websocket in ganache-cli.

[2020-03-24 19:02] ibudisteanu commented on #27
Again, try using ganache. It is really easy to set up. After you start it, increase the gas limit for the block and then set the port in the anonymous-zether

[2020-03-25 10:39] kpv9 commented on #27
hey i have completed the setuo for ganache and having new error . I am attaching the screenshot of the error i am facing. please help me to solve it.
![zether error](https://user-images.githubusercontent.com/37205734/77527850-ee54f280-6eb2-11ea-8efc-400d01e40444.png)

[2020-03-25 11:08] ibudisteanu commented on #27
You are doing it well. Your sender account doesn't have enough funds (probably it has 0 eth). The thing is that when the transfer is called it requires eth gas for the sender. Just give some eth from ganache to the sender address.

[2020-03-25 19:14] benediamond commented on #27
This is because gas is not free in your environment, and Anonymous Zether generates a _random_ account to send from. please see the discussion here https://github.com/jpmorganchase/anonymous-zether/issues/24#issuecomment-595441559 and below! thank you.

[2020-03-25 19:15] benediamond commented on #27
The quickest way to fix it is to use instead of `throwaway`, a fixed account, which you have pre-funded with ether.

[2020-03-26 10:25] kpv9 commented on #27
Thank you so much @benediamond and @ibudisteanu . It worked perfectly.

[2020-03-26 13:34] benediamond commented on #27
@kpv9 good to hear!

[2020-03-26 13:34] #27 closed

[2020-03-26 19:08] benediamond commented on #27
actually, @kpv9 @ibudisteanu, can you do me a big favor, and tell me whether the issue is solved by adding `'gasPrice': 0,` to line 275?
https://github.com/jpmorganchase/anonymous-zether/blob/8cafe19e2fb6a56f8c45a4718c3fc2b24e59ccee/packages/anonymous.js/src/client.js#L275
if this works, it might be the easiest solution; in that case i'll push a fix for it. thanks.

[2020-03-27 10:16] kpv9 commented on #27
no it didn't work if we use throwaway.

[2020-03-27 15:52] benediamond commented on #27
ok interesting, thanks for giving that a try.

[2020-03-29 14:43] #26 closed

[2020-04-02 09:43] kpv9 commented on #27
@benediamond  hey can you please give me a javascript in which Alice transfers b amount confidentially to Bob and then that b ZTH are burnt back in Bob's account.

[2020-04-02 09:48] ibudisteanu commented on #27
Just follow the example. It is more than clear.
[code]

[2020-04-02 10:52] kpv9 commented on #27
@ibudisteanu I tried this. But withdraw is giving error.
see the 2nd last line.

![error](https://user-images.githubusercontent.com/37205734/78241518-22a56000-74fe-11ea-81c6-5a0cdc763d8f.png)

[2020-04-02 11:31] kpv9 commented on #27
hey its done. Thank you.

[2020-04-02 11:51] kpv9 commented on #27
hey, now i want to check the balance of bob's ethereum account before transfer and after burn has executed. which address to use in getBalance()?????

[2020-04-02 13:08] ibudisteanu commented on #27
@kpv9 as far as I know, the tests code is a simplification of the entire process because it is used only for testing. I recommend you just use the `console.log(bob.account._state.available)` for printing out the balance.

I know that the Burn is sending the burned coins to the `msg.sender` namely to the address which is making the burn transaction namely `accounts[0]`, where `accounts = web3.eth.g

[2020-04-03 10:49] kpv9 commented on #27
Thank You so much.

This worked.
![zether_transfer](https://user-images.githubusercontent.com/37205734/78352928-dbcf6d00-75c6-11ea-8e17-195660df10a7.png)

[2020-05-08 00:26] shiqinfeng1 opened #28 "About supporting Raft consensus"
Hi, there ,
Mentioned in README.md, "The reason is that Raft reports block time differently (in nanoseconds, as opposed to milliseconds), an idiosyncrasy which interferes with epoch measurements."
---- Does it mean that if the block timestamp is changed to milliseconds, can it support zether?

[2020-05-23 14:21] benediamond commented on #28
hi @shiqinfeng1, sorry I didn't see this earlier.

It can still support Zether (in fact, we used to run on Raft). It just requires a few things to be adjusted in the smart contracts and JS client. Since it's sort of a pain, we just decided to stick with IBFT. If you're interested I could sketch what needs to be changed. Thanks.

[2020-05-25 01:55] shiqinfeng1 commented on #28
hi, @benediamond ,
I am not very clear about the complete process of zether's zero-knowledge proof. If it can tell me a clear modification, maybe I can change it myself. Otherwise, can you provide a modified version of the fork for reference? I think it is very helpful for people who also want to run the zether protocol on the Raft consensus. Of course, I don't want to increase your workload. Than

[2020-08-24 14:55] james-ray opened #31 "ZetherVerifier.verify() fail in certain probability"
I test index.js on the Ethereum using Tendermint, the codes of Ethereum just be updated two months ago(not entirely, the TxPool is kept old version), and we add some our own codes.
As the files in anonymous-zether, I only modify three files,
1. index.js.    I add unlock calls
[code]
and I add two more clients, as the decoys in the Alice transfer to Bob case, and I let the case run first, after Ali

[2020-08-24 15:07] james-ray commented on #31
[code]

[2020-08-24 15:08] james-ray commented on #31
Another error log:
[code]

why the ciphered zero balance different?

[2020-08-24 15:45] james-ray commented on #31
The logs on the server side:
[code]

[2020-08-25 08:51] james-ray commented on #31
Then I pass the ZetherVerifier into the Client (add a 4th parameter in its constructor),  and delete the withdraw and other transfer test cases, just test one case:  Alice send 11 to Bob with decoys Jack and Billy.
I let the case run directly call ZetherVerifer.verifyTransfer()  using the parameters just used generated the proof,  but the test case still fails in probability.
[code]

Now the serve

[2020-08-25 10:26] james-ray commented on #31
I saw closed issue, you suggest using Ganache,  I'll try to test on it

[2020-08-25 20:02] benediamond commented on #31
if you have non-deterministic failures in transfer, the most likely explanation is that your machine is too slow and/or your epoch length is too low, so you are missing the epoch. try extending epoch length.

[2020-08-26 02:26] james-ray commented on #31
But now I am calling ZetherVeifier.verifyTransfer() directly, the parameters are exactly what used to generate proof, I think this is not affected by the epoch
[code]

[2020-08-26 02:35] benediamond commented on #31
I see, yes, I assume it would be some issue like that. Because it is not designed to be verified locally like that, it is hard to set up the statement and witness correctly. Because typically that will be handled for you automatically by the client object.

[2020-08-26 03:48] james-ray commented on #31
I found a foolish mistake of mine,
[code]
I passed the wrong pubkeys.

Now I correct them, It doesn't fail now!

So I kept test recipient is Bob and two same Bob as decoys,   this passes with probability?

[2020-08-26 03:52] #31 closed

[2020-08-26 14:21] benediamond commented on #31
I maybe see what was happening. For cryptographic reasons, it's necessary that the sender and recipient occupy indices of opposite parity in your list. When you make a transfer, the Client object usually handles that internally, by shuffling your list and possibly making an extra swap if necessary.

If three out of your four recipients are identical, then it could confuse the swapping routine, and

[2020-09-07 15:23] Manny27nyc opened #33 "Api api keys"

[2020-09-13 05:33] #33 closed

[2020-09-17 05:01] jennilee78 opened #35 "Enhancement to protocol to support fees ?"
Hi,
I would like to appreciate your hard work for Anonymous Zether Protocol.
	I am studying and trying to understand  anon zether for a use-case and would like your comments. The use-case is a marketplace where items could be traded by sending anon zether from one user to another.
However, the marketplace itself needs a fee (flat per transaction).   At this moment, your implementation is ignoring

[2020-09-17 22:26] benediamond commented on #35
Please re-raise this in https://github.com/benediamond/anonymous-zether; thanks.

[2020-09-17 22:26] #35 closed

[2021-05-10 17:20] dariotarantini opened #43 "Error: Cannot read property 'forEach' of null"
When i run `truffle test`, i got:

  1) Contract: ZSC
       should allow transferring:
     Uncaught TypeError: Cannot read property 'forEach' of null
      at Subscription.<anonymous> (anonymous-zether/packages/anonymous.js/src/client.js:52:47)
and

  2) Contract: ZSC
       "after each" hook: after test for "should allow transferring":
     Uncaught TypeError: Cannot read property 'forEach' of

[2021-05-14 14:24] benediamond commented on #43
just saw this—thanks for raising, i'm able to reproduce. there have been a lot of software updates so i suspect something broke. let me take a look

[2021-05-14 14:31] dariotarantini commented on #43
Thanks for reply, i have another question. Is there any way to avoid websocket subscriptions?

[2021-05-14 15:34] benediamond commented on #43
can you let me know if this fixes it? https://github.com/ConsenSys/anonymous-zether/commit/65488fc7775031ebd81cddccf26bb6f4f9ab195a

the only way to avoid them is to use IPC instead. but you can't use HTTP—or you can, but event subscription won't work. if you wanted, you could try to custom-build a version which doesn't subscribe to the events.

[2021-05-14 16:56] dariotarantini commented on #43
yeah it fix it. Also, is subscriptions mandatory with zsc? or i can just remove it and fetch transaction manually with json-rpc

[2021-05-14 16:56] #43 closed

[2021-05-14 17:40] benediamond commented on #43
if you wanted, you could create a custom version with no subscriptions. the issue is then that you will need to manually retrieve / decrypt your account state before you can make a transaction. it will take some work on your end, but it is definitely possible.

[2021-05-14 17:51] dariotarantini commented on #43
Okay thanks, i will work on it. Also, are you planning to reinstall telegram? 😄

[2021-08-25 09:32] SAYaghoubnejad opened #47 "Getting ""before all" hook: prepare suite" Error While running test script on the Rinkeby"
Hi there
Recently I tried to fork this project and to understand its mechanism, I've tried to test it on the Rinkeby test network.
Every single time I try to run the test script, I face this error:
[code]

I wonder if there is anyone who knows the reason for this error?
And whether this project is completed, or still under development?

[2021-08-27 08:33] nullcanon opened #48 "js SyntaxError"
I require "client.js" in my file like README.md

`path = require('path');
const Client = require(path.join(__dirname, '../anonymous.js/src/client.js'));`

but I get error

[code]

please help me

[2021-08-27 10:12] #48 closed, assigned to nobody

[2022-02-22 18:03] Rodrirafa opened #52 "Final transfer test fails in truffle test"
Using macOS, node and yarn versions as indicated in the prerequisites.

transfer test fals with output:

4 passing (13s)
  1 failing

  1) Contract: ZSC
       should allow transferring:
     Uncaught TypeError: Cannot read property 'London' of undefined
      at signed (/Users/user/.nvm/versions/node/v12.18.3/lib/node_modules/truffle/build/webpack:/node_modules/web3-eth-accounts/lib/index.js:151:

[2022-02-22 19:33] ibudisteanu commented on #52
It looks like an internal error in the ethereum library

[2022-02-23 12:25] Rodrirafa commented on #52
Hello, it seems to be truffle's web3 version that I need to change, correct?

[2022-02-23 12:45] Rodrirafa commented on #52
I changed truffle's version all together, the version that worked was 5.1.63 (for truffle). Although I think any number of older versions might work. Thank you.

[2022-02-23 12:45] #52 closed

[2022-08-16 22:16] SyedMuhamadYasir opened #60 "Goerli Testnet support ?"
As the title says, is it possible to run this on Goerli testnet ?

[2022-11-06 23:17] furkan-ux opened #63 "Is it possible to support non-native fees with ERC-865?"
*****